<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    p {
      margin-bottom: 0px;
    }
  </style>
  <body>
    <section>
       <div>
        <div>
        <img class="img-fluid" src="https://www.rgembroiderydesigns.com/assets/logo-F.png" style="width: 200px;"/>
    </div>
    </div> 
      <h2><%= customerName %>,</h2>
      <p>
        Thank you so much for your order! We truly appreciate your support and hope you enjoy your digital purchase. If
        you have any questions or need assistance, feel free to reach out!
      </p>
      <p>Please find the attachment of your purchase order here</p>
      <p style="font-size: 20px; font-weight: 600">Order Summary</p>
      <p><strong>Order ID</strong>:<%= orderID %>,</p>
      <p><strong></strong>Order Date</strong>:<%= date %>,</p>
      <p><strong>Payment type</strong>:Online</p><br/>
      <table class="table">
        <tr style="background-color: #c3c3c6;">
          <th style="width: 50%;">Product name</th>
          <!-- <th style="width: 50%;">Price</th> -->
        </tr>
        <% products.forEach(function(product) { %>
        <tr>
          <td style="width: 50%;"><%= product.name %></td>
          <!-- <td style="width: 50%;">$<%= product.amount?.toFixed(2) %></td> -->
        </tr>
        <% }); %>
      </table>
      <p><strong>Total Amount: $<%= totalAmount.toFixed(2) %></strong></p>
      <p><strong>File Links:</strong></p>
      <ul>
        <% zipLinks.forEach(function(link, index) { %>
        <li><a href="<%= link %>">Download Zip File <%= index + 1 %></a></li>
        <% }); %>
      </ul>

      <p>Thanks & Regards</p>
      <p>Raje</p>
      <p>RG Embroidery Designs</p>
      <p>For support contact : info@rgembroiderydesigns.com</p>
    </section>
  </body>
</html>
